<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyx.admin.mapper.PermissionMapper">


    <!-- Select with no parameters using the result map for Order class. -->
    <select id="findAll" resultType="Perm">
        select
        p.id AS id,
        p.pid as pid,
        p.name as name,
        p.type as type,
        p.sort as sort,
        p.url as url,
        p.icon as icon,
        p.perm_code as permCode,
        p.description as description,
        p.state as state
        FROM permission p
        INNER JOIN role_permission rp on p.ID=rp.permission_id
        INNER JOIN role r ON r.id=rp.role_id
        INNER JOIN user_role ur ON ur.role_id =rp.role_id
        INNER JOIN user u ON u.id = ur.user_id
        <where>
            <if test="id != null">
                p.id = #{id}
            </if>
            <if test="loginName != null">
                and login_name = #{loginName}
            </if>
            <if test="userId != null">
                and u.id = #{userId}
            </if>
            <if test="type != null">
                and p.type = #{type}
            </if>
        </where>
    </select>

    <select id="findDistinctAll" resultType="Perm">
        select
        DISTINCT (p.id) AS id,
        p.pid as pid,
        p.name as name,
        p.type as type,
        p.sort as sort,
        p.url as url,
        p.icon as icon,
        p.perm_code as permCode,
        p.description as description,
        p.state as state
        FROM permission p
        INNER JOIN role_permission rp on p.ID=rp.permission_id
        INNER JOIN role r ON r.id=rp.role_id
        INNER JOIN user_role ur ON ur.role_id =rp.role_id
        INNER JOIN user u ON u.id = ur.user_id
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="loginName != null">
                and login_name = #{loginName}
            </if>
            <if test="userId != null">
                and u.id = #{userId}
            </if>
            <if test="type != null">
                and p.type = #{type}
            </if>
        </where>
    </select>

    <select id="findPerAll" resultType="Perm">
        select
        p.id AS id,
        p.pid as pid,
        p.name as name,
        p.sort as sort,
        p.url as url,
        p.icon as icon,
        p.perm_code as permCode,
        p.description as description
        FROM permission p
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="loginName != null">
                and login_name = #{loginName}
            </if>
            <if test="userId != null">
                and u.id = #{userId}
            </if>
            <if test="type != null">
                and p.type = #{type}
            </if>
            <if test="pid != null">
                and p.pid = #{pid}
            </if>
        </where>
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Perm">
      insert into
      permission
      (pid, name, type, sort, url, perm_code, icon, state, description)
      values
      (#{pid}, #{name}, #{type}, #{sort},#{url},#{permCode}, #{icon}, #{state},#{description})
   </insert>

    <delete id="del">
        DELETE FROM permission
        WHERE
        <if test="id != null">
            id = #{id}
        </if>
    </delete>

    <update id="update" parameterType="Perm">
        UPDATE permission
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="permCode != null">
                perm_code = #{permCode},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>